/* landing-sec start */
.landing-sec {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}

.landing-sec h2{
    color: var(--main-purple);
    line-height: 30px;
    font-weight: bold;

}
.landing-sec p {
    color: var(--footer-p);
    font-size: 18px;
    line-height: 30px;
   
}


.landing-sec  .img-sec{
    position: relative;
    margin-left: -60px;
}


.landing-sec  .img-sec::before {
    content: "تخيل، نحن ننفذ";
    width: 250px;
    height: 40px;
    position: absolute;
   top: 100%;
    left: 40%;
    background-color: var(--main-orange);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    box-shadow: 5px 5px 10px 0px #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

@media (max-width : 650px) {
    .landing-sec .img-sec::before{
        display: none;
    }
}


.landing-sec .content-sec {
    margin-right: 7rem;
}

@media (max-width : 1200px) {
    .landing-sec .content-sec {
        margin-right: 3rem;
    }
}
 .par-title {
    background-color: var(--main-purple);
 }
 
 .par-title h2 
 ,  .par-title p {
    color: white !important;
 }
/* landing-sec end */
