/* landing-sec start */

.landing-sec {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}


@media (min-width : 992px) {
    .landing-sec .carousel-inner{
        height: 600px;
    }
    .landing-sec .carousel-indicators{
        top: 90%;
        
    }
}
@media (max-width : 991px) {
    .landing-sec .carousel-inner{
        height: 1000px;
    }
    .landing-sec .carousel-indicators{
        top: 100%;
        
    }
}

@media (max-width : 650px) {
    .landing-sec .carousel-inner{
        height: 900px;
    }
    .landing-sec .carousel-indicators{
        top: 90%;
        
    }
}
@media (max-width : 480px) {
    .landing-sec .carousel-inner{
        height: 600px;
    }
    .landing-sec .carousel-indicators{
        top: 80%;
        
    }
}

.landing-sec .side-icon {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 10;

}


.landing-sec .side-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--main-purple);
    color: white;
    width: 45px;
    height: 35px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    
}
.landing-sec .side-icon .icon:hover{
    background-color: var(--main-orange);
}
.landing-sec .side-icon .icon i{
    opacity: 0.7;
}



.carousel-indicators [data-bs-target]{
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    width: 8px;
    height: 8px;
    background-color:  #a29c9c;
}
.carousel-indicators [data-bs-target].active{
    background-color: var(--main-purple);

}

.landing-sec .carousel-item h2{
    color: var(--main-purple);
    line-height: 30px;
    font-weight: bold;

}
.landing-sec .carousel-item p {
    color: var(--footer-p);
    font-size: 18px;
    line-height: 30px;
   
}
 .btn-danger{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-orange);
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    border: 1px solid var(--main-orange);
    font-weight: bold;
    width: 177px;
    height: 45px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

}
.btn-danger:hover{
    background-color: var(--main-purple);
    border-color: var(--main-purple);
}

 .btn-outline-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    border: 1px solid var(--main-purple);
    font-weight: bold;
    width: 177px;
    height: 45px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: var(--main-purple);

}
 .btn-outline-dark:hover{
    background-color: var(--main-purple);
    color: white;
}

.landing-sec .carousel-item .img-sec{
    position: relative;
    margin-left: -60px;
}


.landing-sec .carousel-item .img-sec::before {
    content: "تخيل، نحن ننفذ";
    width: 250px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 40%;
    background-color: var(--main-orange);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    box-shadow: 5px 5px 10px 0px #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

@media (max-width : 650px) {
    .landing-sec .carousel-item .img-sec::before{
        display: none;
    }
}


.landing-sec .content-sec {
    margin-right: 7rem;
}

@media (max-width : 1200px) {
    .landing-sec .content-sec {
        margin-right: 3rem;
    }
}


/* landing-sec end */

/* our-exp start */

.our-exp .top-title {
    background-color: var(--main-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

.our-exp .exp-slider{
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.our-exp .exp-slider .exp-card{
    background-color: white;
    box-shadow: 2px 2px 10px 0px #DBDBDB;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: hidden;
}

.our-exp .exp-slider .exp-card div {
    min-width: 231px;
    min-height: 173px;
}
.our-exp .exp-slider .exp-card div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-exp .exp-slider .exp-card h6{
    color: var(--footer-p);
    transition: all 0.5s;
}

.our-exp .exp-slider .exp-card:hover{
    transform: scale(1.1);
}

.our-exp .exp-slider .exp-card:hover h6{
   color: var(--main-purple);
}

.our-exp .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -5px ;
}

.our-exp .mySwiper2 {
    padding-bottom: 6rem;
}

.our-exp .mySwiper2 .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #a29c9c ;
}
.our-exp .mySwiper2 .swiper-pagination-bullet-active{
    background-color: var(--main-purple);
}

/* our-exp end */


/* shop now start */

.shop-now .top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.shop-now .top-title h2{
    color: var(--main-purple);
    font-weight: bold;
}
.shop-now .top-title p{
    color: var(--footer-p);
}

.shop-now .prod-card{
    background-color: white;
    box-shadow: 2px 2px 10px 0px #DBDBDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 420px !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.shop-now .prod-card:hover{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.shop-now .prod-card img{
    height: 200px;
}

.shop-now .prod-card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;

}
.shop-now .prod-card .stars i{
    font-size: 12px;
}
.shop-now .prod-card .stars .cecked {
    color: #FFC100;
    
}
.shop-now .prod-card h4{
    color: var(--main-purple);
    font-weight: bold;

}

.shop-now .prod-card .prod-price h4{
    color: var(--footer-p);
    font-weight: bold;
}
.shop-now .prod-card sub{
    color: var(--footer-p);
}
.shop-now .prod-card h3{
    color: var(--main-purple);
    font-weight: bold;
}

.shop-now .control .next,
.shop-now .control .prev {
  position: absolute;
  z-index: 20;
  top: 43%;
  color: var(--white) !important;
  font-weight: 800 !important;
  background: var(--main-purple);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-now .control .prev {
  left: 20px !important;
}

.shop-now .control .next {
  right: 20px !important;
}

@media (max-width: 576px) {
  .shop-now .control .next,
  .shop-now .control .prev {
    display: none;
  }
}

/* shop now end */



/* partners start */

.partners .top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.partners .top-title h2{
    color: var(--main-purple);
    font-weight: bold;
}
.partners .top-title p{
    color: var(--footer-p);
}


.partners .partners-slider .partners-card{
    background-color: white;
    box-shadow: 5px 5px 10px 0px #DBDBDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: hidden;
    height: 100px;
    padding: 2rem;
    cursor: pointer;
    position: relative;
    bottom: 0;
}
.partners .partners-slider .partners-card:hover{
    bottom: 2rem;
}
.partners .partners-slider .partners-card img{
    width: 100%;
    height: auto;
}

 .swiper-wrapper {
    transition-timing-function: linear !important;
  }
/* partners end */



/* serv start */

.serv {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.serv .top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.serv .top-title h2{
    color: var(--main-purple);
    font-weight: bold;
}
.serv .top-title p{
    color: var(--footer-p);
}

.serv .serv-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.serv .serv-card .serv-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-orange);
    box-shadow: 5px 5px 10px 0px #DBDBDB;
    width: 150px;
    height: 150px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.serv .serv-card .serv-img img{
    width: 80%;
    height: auto;
}

.serv .serv-card  h4{
    color: var(--main-purple);
    font-weight: bold;

}

.serv .serv-card p{
    color: var(--footer-p);
}
 
.serv .btns-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
/* serv end */


/* opinin start */

.opinin .top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.opinin .top-title h2{
    color: var(--main-purple);
    font-weight: bold;
}
.opinin .top-title p{
    color: var(--footer-p);
}

.opinin .clint-opinien{
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
.opinin .img-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--main-orange);
    height: 60px;
    z-index: 1;
    left: 0;
    text-align: center;
    color: white;

}
.opinin .img-bottom.bottom-purp{
    background-color: var(--main-purple);
}



.opinin .img-div{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 50px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.opinin .abs-img{
    bottom: 10px;
    z-index: 2;
}
/* opinin end */

/* clints start */

.clints {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.clints .top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.clints .top-title h2{
    color: var(--main-purple);
    font-weight: bold;
}
.clints .top-title p{
    color: var(--footer-p);
}


.clints .clints-slider .clints-card{
    background-color: white;
    box-shadow: 5px 5px 10px 0px #DBDBDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: hidden;
    height: 150px;
    padding: 2rem;
    cursor: pointer;
    position: relative;
    bottom: 0;
}
.clints .clints-slider .clints-card:hover{
    bottom: 2rem;
}
.clints .clints-slider .clints-card img{
    width: 100%;
    height: auto;
}


/* clints end */




/* our-vigen start */

.our-vigen {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.our-vigen .top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.our-vigen .top-title h2{
    color: var(--main-purple);
    font-weight: bold;
}
.our-vigen .top-title p{
    color: var(--footer-p);
}

.our-vigen .img-box{
    background-color: white;
    box-shadow: 5px 5px 10px 0px #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.our-vigen .title-box{
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    background-color: var(--main-purple);
}

.our-vigen .title-box a {
    color: var(--white);
    font-weight: bold;
    line-height: 30px;
}

/* our-vigen end */


