/* landing-sec start */

.landing-sec {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}

.landing-sec .side-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 10;

}


@media (min-width : 992px) {
    .landing-sec .carousel-inner{
        height: 600px;
    }
    .landing-sec .carousel-indicators{
        top: 90%;
        
    }
}
@media (max-width : 991px) {
    .landing-sec .carousel-inner{
        height: 1000px;
    }
    .landing-sec .carousel-indicators{
        top: 100%;
        
    }
}

@media (max-width : 650px) {
    .landing-sec .carousel-inner{
        height: 900px;
    }
    .landing-sec .carousel-indicators{
        top: 90%;
        
    }
}
@media (max-width : 480px) {
    .landing-sec .carousel-inner{
        height: 600px;
    }
    .landing-sec .carousel-indicators{
        top: 80%;
        
    }
}


.landing-sec .side-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--main-purple);
    color: white;
    width: 40px;
    height: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    
}
.landing-sec .side-icon .icon:hover{
    background-color: var(--main-orange);
}
.landing-sec .side-icon .icon i{
    opacity: 0.7;
}



.carousel-indicators [data-bs-target]{
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    width: 8px;
    height: 8px;
    background-color: #DEDEDE;
}
.carousel-indicators [data-bs-target].active{
    background-color: var(--main-purple);

}

.landing-sec .carousel-item h2{
    color: var(--main-purple);
    line-height: 30px;
    font-weight: bold;

}
.landing-sec .carousel-item p {
    color: #1F1E1F;
    font-size: 18px;
    line-height: 30px;
   
}
.landing-sec .btns-div .btn-danger{
    background-color: var(--main-orange);
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    border: 1px solid var(--main-orange);
    font-weight: bold;
    width: 177px;
    height: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

}
.landing-sec .btns-div .btn-danger:hover{
    background-color: var(--main-purple);
    border-color: var(--main-purple);
}

.landing-sec .btns-div .btn-outline-dark{
    background-color: transparent;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    border: 1px solid #1F1E1F;
    font-weight: bold;
    width: 177px;
    height: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: #1F1E1F;

}
.landing-sec .btns-div .btn-outline-dark:hover{
    background-color: #1F1E1F;
    color: white;
}

.landing-sec .carousel-item .img-sec{
    position: relative;
    margin-left: -60px;
}


.landing-sec .carousel-item .img-sec::before {
    content: "تخيل، نحن ننفذ";
    width: 250px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 40%;
    background-color: var(--main-orange);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    box-shadow: 5px 5px 10px 0px #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

@media (max-width : 650px) {
    .landing-sec .carousel-item .img-sec::before{
        display: none;
    }
}


.landing-sec .content-sec {
    margin-right: 7rem;
}

@media (max-width : 1200px) {
    .landing-sec .content-sec {
        margin-right: 3rem;
    }
}
/* landing-sec end */