/* import fonts from google font */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap");
/* universal and main style  start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

button,
.btn,
input,
textarea {
  box-shadow: none !important;
}
a {
  text-decoration: none;
}

:root {
  --black: #000;
  --main-orange: #EE801E;
  --main-purple :#56227A;
  --light-black: #434343;
  --footer-link-black: rgba(0, 0, 0, 0.77);
  --footer-p: #1F1E1F;
  --white: #fff;
  --star-color: #ffc700;


}

.lines2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lines3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper {
  z-index: 0 !important;
}

/* universal and main style  end */


/* header start */




header .top-header {
  background-color: var(--main-orange);

}
.sidebar li .submenu {
  list-style: none;
  text-align: center;
 
}

.dropdown4
,.dropdown5 {
  position: relative;
  display: inline-block;
 
}

.header .modal-backdrop{
  z-index: 800 !important;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 270px;
  border: none;
  right: -50px;
  padding: 0;
  max-height: 0 ;
  overflow: hidden;
  transition: all 0.3s ease;
  
}

.dropdown5 .dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 100px;
  border: none;
  right: 0px;
  padding: 0;
  max-height: 0 ;
  overflow: hidden;
  transition: all 0.3s ease;
  
}


.dropdown4:hover .dropdown-menu {
  max-height: 600px; 
  transition-delay: 0.3s; 
  padding: 1.5rem 0;
  box-shadow: -10px -5px 20px 8px #f0f0f0;
}
.dropdown5:hover .dropdown-menu {
  max-height: 600px; 
  transition-delay: 0.3s; 
  padding: 1.5rem 0;
  box-shadow: -10px -5px 20px 8px #f0f0f0;
}
.dropdown-menu .items {
  font-size: 14px;
  line-height: 2.5;
  color: var(--light-black) ;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.dropdown-content .items:hover {
  background-color: #dac0ec48 !important;
  color: var(--main-purple) !important;
  padding-right: 1.5rem;
}



header .top-header .header-icons i{
  color: var(--white);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

header .top-header .header-icons i:hover{
  opacity: 0.7;
}

header .top-header .header-info p  ,
header .top-header .header-info span{
  color: var(--white);
  font-weight: bold;
  
}

.header .navbar-nav .nav-link {
  font-weight: 400;
  line-height: 22px;
  color: var(--light-black);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  position: relative;
  padding-right: 0px;
}

#myheader .navbar-nav .nav-link {
  font-weight: 500;
  line-height: 22px;
  color: black;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  position: relative;
  padding-right: 0px;
}

 #myheader .nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--main-purple);
  border-radius: 10px;
  height: 3px;
  width: 50%;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
}
 #myheader .active::after {
  display: block;
}
 #myheader .active::before {
  display: none;
}

 #myheader .nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  right: auto;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background-color: var(--main-purple);
}
 #myheader .nav-link:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}


#myheader {
  display: none;
  position: relative;
  transition: position 5s 3s ease !important;
  -webkit-transition: position 5s 3s ease !important;
  -moz-transition: position 5s 3s ease !important;
  -ms-transition: position 5s 3s ease !important;
  -o-transition: position 5s 3s ease !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white !important;
  height: 90px;
  box-shadow: -1px 0px 5px rgb(57 63 72 / 30%) !important;
 
}

.sticky > .nav {
  padding-top: 0px !important;
}

.offcanvas-body .nav-link {
  height: 20px !important;
}

 .header .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--main-purple);
  border-radius: 10px;
  height: 3px;
  width: 50%;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
}
 .header .navbar-nav .active::after {
  display: block;
}
 .header .navbar-nav .active::before {
  display: none;
}

 .header .navbar-nav .nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  right: auto;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background-color: var(--main-purple);
}
 .header .navbar-nav .nav-link:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}

 .header .offcanvas-start {
  transition: all 1s !important;
  -webkit-transition: all 1s !important;
  -moz-transition: all 1s !important;
  -ms-transition: all 1s !important;
  -o-transition: all 1s !important;
}
 .header .offcanvas-start .navbar-nav .nav-link {
  font-weight: 400 !important;
  line-height: 22px;
  color: var(--light-black);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
 .header .offcanvas-start .navbar-nav .nav-link:hover {
  color: var(--main-purple);
}
.header .offcanvas-start .navbar-nav .nav-link:hover:before{
  display: none;

}

 .header .offcanvas-start .navbar-nav .active {
  color: var(--main-purple);
}
 .header .offcanvas-start .navbar-nav .active::after  
{
  display: none;
}
 .navbar-light .nav-toggle {
  color: var(--light-black) !important;
  font-size: 30px !important;
  font-weight: bold;
  display: block;
}
@media (min-width: 992px) {
   .navbar-light .nav-toggle {
    display: none;
  }
}

 .header .offcanvas {
  background: url(../images/bg.png);
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 500px) {
   .header .offcanvas {
    width: 50%;
  }
}
.land-sec .header .offcanvas-header .btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

header .header .side-header a {
  color: var(--light-black);
  font-size: 16px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header .header .side-header a:hover{
  color: var(--main-purple);
}
header .header .side-header .cart {
  position: relative;
}
header .header .side-header .cart .cart-count{ 
  position: absolute;
  top: -5px;
  left: 18px;
  font-size: 15px;

}

header .header {
  background-color: var(--white);
  box-shadow: -1px 0px 5px rgb(57 63 72 / 30%) !important;
}



/* header end */



/* footer start */

footer {
  background: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;

}

footer .top-footer .about h6 {
  font-weight: bold;
  line-height: 24px;
  font-size: 25px;
  text-align: right;
  color: var(--main-purple);
}
footer .top-footer .about p{
  line-height: 30px;
  text-align: right;
  color: var(--footer-p);
}
footer .top-footer .footer-icons .f-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: var(--main-purple);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
footer .top-footer .footer-icons .f-icon:hover{
  background-color: var(--main-orange);
}
footer .top-footer .footer-icons .f-icon i{
  color: var(--white);
}


footer .top-footer .links-menu .nav-link {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: var(--footer-p);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
footer .top-footer .links-menu .nav-link:hover {
  color: var(--main-purple);
  margin-right: 5px;
}
footer .top-footer .links-menu .top-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-purple);
  
}

footer .top-footer .links-menu .contact-div  {
  background-color: var(--main-orange);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--white);
  box-shadow: 5px 5px 10px 0px #DBDBDB;
}
footer .top-footer .links-menu .contact-div.nav-link:hover{
  margin-right: 0px !important;
  color: var(--white) !important;
}
footer .botom-footer {
  background-color: var(--main-orange);
}
footer .botom-footer .copy-right h6{
  font-weight: bold;
  line-height: 16px;
  text-transform: capitalize;
  color: var(--white);
}
footer .botom-footer .copy-right p{
  line-height: 16px;
  font-size: 13px;
  text-transform: capitalize;
  color: var(--white);
}

/* footer end */


/* contact start */

.contact .top-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.contact .top-title h2{
  color: var(--main-purple);
  font-weight: bold;
}
.contact .top-title p{
  color: var(--footer-p);
}


.contact input,
.contact textarea {
  border: 1px solid #b4aeae;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.contact input:focus,
.contact textarea:focus {
  border-color: var(--main-orange) !important;
}

.contact label {
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: var(--main-purple);
}
input[type="email"],
input[type="tel"] {
  direction: rtl;
}
.invalid-feedback {
  text-align: start;
}
.form-check label {
  color: #4E4E4E !important;
  font-size: 14px !important;

}
.form-check-input:checked {
  background-color: var(--main-orange) !important;
  border-color: var(--main-orange) !important;
}

.form-check-input:active,
.form-check-input:focus {
  border-color: var(--main-orange)!important;
}


/* contact end */
